/** Fonts Variables **/
$global-font-family: 'Open Sans', sans-serif;

/** Colors Variables **/
$black: #000;
$background-black: #00000049;
$white: #fff;
$red: #ff0000;
$green: #00ff00;
$light-gray: #f1f1f1;

