<!-- CREATE PROFILE -->
<section class="create-profile">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <!-- CREATE PROFILE HEADING -->
        <div class="create-profile-heading">
          <div class="heading-icon">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="more_horiz"></mat-icon>
          </div>
          <div class="heading-label"><span>{{USER_PROFILE_CONSTANTS.CREATE_PROFILE_HEADING | titlecase}}</span></div>
        </div>
        <!-- CREATE PROFILE HEADING -->

        <!-- DEMOGRAPHIC DETAILS -->
        <app-demographic-details [form]="demogrpahicDetailsForm()"
          [dropdownData$]="masterData"></app-demographic-details>
        <!-- DEMOGRAPHIC DETAILS -->

        <!-- EDUCATION DETAILS -->
        <app-education-details *ngIf="educationDetailsList.value.length > 0" [form]="educationDetailsForm()"
          [educationDetailsListData]="educationDetailsList.value" [isEditEducationDetails]="true"
          [dropdownData$]="masterData"></app-education-details>
        <!-- EDUCATION DETAILS -->

        <!-- EXPERIENCE DETAILS -->
        <app-experience-details *ngIf="experienceDetailsList.value.length > 0" [form]="experienceDetailsForm()"
          [isEditExperienceDetails]="true"
          [experienceDetailsListData]="experienceDetailsList.value"></app-experience-details>
        <!-- EXPERIENCE DETAILS -->

        <!-- ADDRESS -->
        <app-address *ngIf="addressDetailsList.value.length > 0" [form]="addressForm()" [isEditAddressDetails]="true"
          [addressListData]="addressDetailsList.value" [$dropdownData]="masterData"></app-address>
        <!-- ADDRESS -->

        <!-- BUTTONS -->
        <div class="row">
          <div class="col-lg-12">
            <div class="buttons mb-4">
              <div class="save-button">
                <app-save-button></app-save-button>
              </div>
              <div class="cancle-button">
                <app-cancel-button></app-cancel-button>
              </div>
            </div>
          </div>
        </div>
        <!-- BUTTONS -->

      </div>
    </div>
  </div>
</section>
<!-- CREATE PROFILE -->