<div class="row">
  <div class="col-md-12">
    <div class="table-responsive education-details-list">
      <table class="table table-striped">
        <thead>
          <th scope="col">{{USER_PROFILE_CONSTANTS.CREDENTIAL_LABEL| titlecase}}</th>
          <th scope="col">{{USER_PROFILE_CONSTANTS.DEGREE_CERTIFICATE_LABEL| titlecase}}</th>
          <th scope="col">{{USER_PROFILE_CONSTANTS.INSTITUTION_LABEL| titlecase}}</th>
          <th scope="col">{{USER_PROFILE_CONSTANTS.G_STATE_LABEL| titlecase}}</th>
          <th scope="col">{{USER_PROFILE_CONSTANTS.G_CITY_LABEL| titlecase}}</th>
        </thead>
        <tbody>
          <tr *ngFor="let educationDetails of educationDetailsList">
            <td>{{educationDetails.credential}}</td>
            <td>{{educationDetails.degreeCertificate}}</td>
            <td>{{educationDetails.institution}}</td>
            <td>{{educationDetails.state}}</td>
            <td>{{educationDetails.city}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>